<%= link_to 'http://www.sour-coast.surge.sh', :target => "_blank" do %>
    <%= image_tag 'img.jpg', width: 1239, height: 269 %>
<% end %>


<div class="p1">
<p>Zoom-it is a solo project developed by Randolph Scott Diggs III @ The Iron Yard Academy for his Final Project.</p>
</div>
    <p>
        Programming languages used to create Zoom-it:
        <ul>
            <li>
                <a href="https://www.ruby-lang.org/en/" target="_blank">Ruby on Rails
                </a>
            </li>
            <li>
                <a href="http://sass-lang.com/" target="_blank">SASS
                </a>
            </li>
            <li>
                <a href="http://www.computerhope.com/jargon/h/html.htm" target="_blank">HTML</a>
            </li>
            <li>
                <a href="http://www.w3schools.com/js/js_intro.asp">Javascript</a>
            </li>
        </ul>
    </p>
